:root{

 --cor-azul-principal : #001BE0;
 --cor-azul-01 : #001BE0;
 --cor-azul-02 : #1D2561;
 --cor-azul-03: #009FAD;
 --cor-azul-04:#45D8E6;

--cor-dourado-01:#E0CA02;
--cor-dourado-02: #AD9C02;

--cor-cinza-01:#D5D5D5 ;
--cor-cinza-02:#CCCCCC ;

}



